$white: #fff;
$black: #000;
$orange: #FF671D;
$red: #F93549;
$teal: #00AFAA;
$blue: #4EC3E0;
$purple: #655DC6;
$purple-dark: #353158;
$grey: #B8B6B7;
$grey-light: #DDDDDD;
$grey-x-light: #EAEAEA;
$grey-dark: #545A5A;
$grey-x-dark: #201E34;
$pi-grey: #374F60;

$breakpoints: (sm: 576px, md: 768px, lg: 992px, xl: 1200px);

@function get-breakpoint($name) {
  @return map-get($breakpoints, $name);
}

@mixin media-breakpoint-min($name) {
  @media (min-width: get-breakpoint($name)) {
    @content;
  }
}

@mixin media-breakpoint-max($name) {
  @media (max-width: get-breakpoint($name)) {
    @content;
  }
}

@mixin media-breakpoint-between($min, $max) {
  @media (min-width: get-breakpoint($min)) and (max-width: get-breakpoint($max)) {
    @content;
  }
}

$spacings: (1: 10px, 2: 15px, 3: 30px, 4: 45px, 5: 60px);

@function spacing($n) {
  @return map-get($spacings, $n);
}
