$white: #fff;
$black: #000;
$orange: #FF6A1E;
$red: #FC4248;
$teal: #0198A7;
$purple: #5E66C5;
$purple-dark: #353158;
$grey-x-dark: #201E34;
$grey: #E7EDF3;
$pi-grey: #374F60;

$breakpoints: (sm: 576px, md: 768px, lg: 992px, xl: 1200px);

@function get-breakpoint($name) {
  @return map-get($breakpoints, $name);
}

@mixin media-breakpoint-min($name) {
  @media (min-width: get-breakpoint($name)) {
    @content;
  }
}

@mixin media-breakpoint-max($name) {
  @media (max-width: get-breakpoint($name)) {
    @content;
  }
}

@mixin media-breakpoint-between($min, $max) {
  @media (min-width: get-breakpoint($min)) and (max-width: get-breakpoint($max)) {
    @content;
  }
}
